/* OBFUSCATED BY CSSOBFUSCATOR.COM 2023/04/25*/
@font-face {
    font-family: "EB Garamond";
    src: url("https://fonts.google.com/specimen/EB+Garamond?category=Serif,Sans+Serif,Display,Monospace");
}

body {
    background-image: url("Images/Decent.png");
}

section#Amenities img {
    max-width: 100%;
}

body {
    background-size: auto;
}

body {
    font-family: var(--font-stack);
}

section#Amenities img {
    height: auto;
}

header nav ul,
header nav ul {
    list-style: none;
}

body {
    width: var(--width);
}

p#Nestled,
body {
    margin-left: auto;
}

section#Amenities img {
    height: 2.604166667in;
}

section#Amenities img {
    margin-left: 3.75pt;
}

section#Relax {
    text-align: center;
}

p#Nestled,
section#Contact p,
header,
section#Contact img,
section#Amenities img,
nav li,
body,
section#Amenities p {
    margin-bottom: 0;
}

body,
header {
    margin-right: auto;
}

nav li {
    margin-left: 0;
}

section#Amenities img {
    margin-right: 3.75pt;
}

header,
section#Contact p,
body,
section#Contact img,
section#Amenities img,
p#Nestled,
nav li,
section#Amenities p {
    margin-top: 0;
}

section#Contact p,
p#Nestled,
section#Amenities p {
    font-size: 12pt;
}

section#Contact p,
section#Amenities p,
p#Nestled {
    line-height: 1.2;
}

section#Contact img,
section#Amenities p,
section#Contact p,
header {
    margin-left: auto;
}

header {
    height: max-content;
}

section#Amenities p,
section#Contact img,
p#Nestled,
section#Contact p {
    margin-right: auto;
}

:root {
    --white: #f7f7f6;
}

header {
    height: 150pt;
}

header nav ul {
    padding-left: 0;
}

header {
    background-image: url("Images/swiss-valley.jpg");
}

section#Amenities p,
section#Contact p {
    max-width: 8.333333333in;
}

section#Amenities p,
p#Nestled,
section#Contact p {
    text-align: justify;
}

section#Amenities p {
    padding-left: 1rem;
}

section#Amenities p,
section#Contact p {
    padding-bottom: 1rem;
}

nav li {
    margin-right: 0;
}

header {
    background-size: cover;
}

:root {
    --md-gray: #5a7f90;
}

header {
    background-repeat: no-repeat;
}

header {
    background-position: center;
}

section#Amenities p,
section#Contact p {
    padding-right: 1rem;
}

nav a {
    display: block;
}

section#Amenities p,
section#Contact p {
    padding-top: 1rem;
}

header {
    position: sticky;
}

header {
    top: 0;
}

header {
    z-index: 2;
}

nav a {
    padding-left: 7.5pt;
}

nav a {
    padding-bottom: 7.5pt;
}

h1 {
    margin-top: 0;
}

nav a {
    padding-right: 7.5pt;
}

:root {
    --lt-blue: #acc8d9;
}

section#Contact p {
    padding-left: 0;
}

h1 {
    color: var(--dk-gray);
}

h1 {
    font-style: italic;
}

div#Right form,
h1,
section#Contact,
header nav ul,
section#Amenities,
nav {
    display: flex;
}

header nav ul,
nav,
section#Amenities,
h1 {
    justify-content: center;
}

p#Nestled {
    width: 50%;
}

section#Contact img {
    width: 100%;
}

h1 {
    margin-bottom: 0;
}

section#Contact img {
    padding-right: 1rem;
}

section#Contact img {
    height: auto;
}

main {
    padding-bottom: 3rem;
}

p#Nestled {
    padding-bottom: 4rem;
}

header nav a:hover {
    border-bottom-color: var(--tan);
}

:root {
    --blue: #739db7;
}

h2 {
    background-color: #344c58;
}

input[type="submit"]:focus {
    outline: .1875pc solid var(--tan);
}

section#Contact,
section#Amenities {
    text-align: center;
}

div#Right input,
nav a {
    padding-top: 7.5pt;
}

header nav ul {
    gap: 1rem;
}

nav a,
h3,
h2 {
    text-decoration: none;
}

input[type="submit"]:hover {
    box-shadow: -.03125in 3px 3.75pt var(--blue);
}

h3,
h2 {
    color: #739db7;
}

div#Right form {
    flex-direction: column;
}

header nav a:focus {
    color: var(--white);
}

section#Amenities {
    width: 80%;
}

h3,
h2 {
    padding-left: 1rem;
}

div#Right form {
    font-weight: bold;
}

h3,
h2 {
    padding-bottom: 1rem;
}

section#Amenities,
section#Contact {
    margin-left: auto;
}

section#Contact,
section#Amenities {
    margin-bottom: 0;
}

h2,
h3 {
    padding-right: 1rem;
}

h2,
h3 {
    padding-top: 1rem;
}

div#Right form {
    margin-bottom: 5px;
}

section#Amenities,
section#Contact {
    margin-right: auto;
}

div#Right input {
    padding-left: 10px;
}

h2,
h3 {
    width: fit-content;
}

h3,
header nav ul,
h2 {
    align-items: center;
}

div#Right input {
    padding-bottom: 10px;
}

h3,
h2 {
    display: inline-block;
}

h3,
h2 {
    margin-bottom: .625pc;
}

div#Right input {
    padding-right: 10px;
}

h3,
section#Contact,
h2 {
    justify-content: center;
}

h2,
h3 {
    position: relative;
}

nav a {
    font-size: 15pt;
}

div#Right input {
    border-left-width: .75pt;
}

div#Right input {
    border-bottom-width: .75pt;
}

nav a {
    border-bottom-width: .041666667in;
}

section#Contact,
section#Amenities {
    margin-top: 0;
}

div#Right input {
    border-right-width: .75pt;
}

h2 {
    margin-top: 4rem;
}

div#Right input,
nav a {
    border-bottom-style: solid;
}

div#Right input {
    border-top-width: .75pt;
}

h3 {
    background-color: #344c58;
}

div#Right input {
    border-left-style: solid;
}

:root {
    --dk-gray: #344c58;
}

div#Right input {
    border-right-style: solid;
}

div#Right input {
    border-top-style: solid;
}

div#Right input {
    border-left-color: var(--dk-gray);
}

header nav ul {
    margin-left: 0;
}

h3 {
    margin-top: 1rem;
}

main div,
footer p,
header nav ul,
footer {
    margin-bottom: 0;
}

div#Right input,
nav a {
    border-bottom-color: var(--dk-gray);
}

footer {
    background-color: var(--dk-gray);
}

div#Left {
    padding-left: 0;
}

div#Left {
    margin-left: 0;
}

footer {
    padding-left: .5rem;
}

nav a {
    border-image: none;
}

div#Left {
    margin-right: .5rem;
}

header nav ul {
    margin-right: 0;
}

main div {
    display: block;
}

footer {
    padding-bottom: .5rem;
}

main div {
    width: 55%;
}

footer {
    padding-right: .5rem;
}

div#Right input {
    border-right-color: var(--dk-gray);
}

main div,
header nav ul,
footer,
footer p {
    margin-top: 0;
}

div#Right input {
    border-top-color: var(--dk-gray);
}

header nav ul {
    padding-bottom: 0;
}

div#Right input {
    border-image: none;
}

footer,
main div,
footer p {
    margin-left: auto;
}

div#Right input {
    border-radius: 5px;
}

footer {
    padding-top: .5rem;
}

div#Right {
    text-align: left;
}

header nav ul {
    padding-right: 0;
}

div#Right input {
    margin-bottom: 10px;
}

:root {
    --tan: #aaa77a;
}

header nav ul {
    padding-top: 0;
}

footer {
    color: var(--blue);
}

:root {
    --font-stack: "EB Garamond", "cursive", sans-serif;
}

div#Right {
    padding-right: 0;
}

header nav ul {
    width: 100%;
}

footer p,
footer,
main div {
    margin-right: auto;
}

div#Right {
    margin-right: 0;
}

footer p {
    font-size: 16px;
}

footer p {
    line-height: 1.2;
}

div#Right {
    margin-left: .5rem;
}

:root {
    --width: 80pc;
}

footer p {
    text-align: center;
}